*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.game_board{
    background-image: linear-gradient(to bottom ,  rgb(157, 208, 236),white );
    position: relative;
    border-bottom:20px dashed rgb(3, 71, 19);
    margin:0 auto;
    width: 100vw;
    height:600px;
    overflow: hidden;
}#score{
    position:absolute;
    top:50px;
    right: 150px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.636);
    color: rgb(255, 255, 255);
    font-size: 2em;
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    
}span{
    color: white;
}

.personagem{
    position: absolute;
    left:10%;
    bottom: 0;
    background-image: url('../imagens/imagen1.png');
    width: 74px;
    height: 106px;
    animation: correr 0.2s  linear infinite ;
}.jump{
    animation: jump 0.5s infinite ease;
}
.morte{

    animation: morte 0.5s linear forwards;
}
.pedra{
    position: absolute;
    bottom:0;
    width: 80px;
    animation:loop 2s  infinite linear;
}.nuven{
    position: absolute;
    top: 60px;
    background-image:url('../imagens/nuven1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 350px;
    height: 250px;
    animation:loop 50s  infinite linear;

}.nuven1{
    position: absolute;
    
    background-image:url('../imagens/nuven1.png');
    background-size: contain;
    background-repeat: no-repeat;
    width: 300px;
    height: 100px;
    animation:loop 80s  infinite linear;
}.chao{
    position: absolute;
    background-color:darkgreen;
    height: 10px;
    width: 100%;
    bottom: 0px;
}#botao{
    display: none;
}
@keyframes correr{

0%{
    background-image: url('../imagens/imagen2.png');
}50%{
    background-image: url('../imagens/imagen1.png');
}100%{
    background-image: url('../imagens/imagen2.png');
}
    
}
@keyframes loop {
    from {
            transform: translateX(80vw);
    }
    to{
        transform: translateX(-10vw);
    }
}
@keyframes jump {
    0%{
        bottom: 0px ;
    }40%{
        bottom:150px ;
    }60%{
        bottom:150px ;
    }100%{
        bottom: 0px ;
    }
}@keyframes morte {
    to{
        transform:  translate(-400px , -50px ) rotate(-180deg) scale(0.5);
    }
}